@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;700&display=swap');

body {
  font-family: 'Zen Kaku Gothic New', 'Noto Sans JP', sans-serif;
}


.container, .play-container {
  max-width: 960px;
  margin: auto;
  padding: 20px;
}

.button-group button,
#startBtn, .gridBtn {
  margin: 4px;
  padding: 8px 14px;
  font-size: 16px;
}

button.active {
  background: #ff9c66;
  color: white;
}

.kanji-list span {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 6px;
  margin: 3px;
  cursor: pointer;
}

.kanji-list span.selected {
  background: #ffa366;
  color: white;
}

.question-number {
  font-size: 28px;
}

.kanji-area {
  position: relative;
  margin: 40px auto;
  width: 420px;
  height: 420px;
}

.kanji-char {
  font-size: 360px;
  text-align: center;
  line-height: 420px;
  font-weight: 400;
}

.cover-grid {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  display: grid;
}

.cover {
  background: #f49b6a;
  border: 1px solid #ff7a3c;
  cursor: pointer;
}

.cover.hidden {
  opacity: 0;
  pointer-events: none;
}

.score-area {
  text-align: right;
  font-size: 20px;
}
